#im1
{
    width: 50px;
    height: 50px;
}
#inp1
{
    width: 25%;
}
#di1
{
    width: 40%;
    border-radius: 30%;
    height:25% ;
    
  
 
}
#bo1
{
    background-image:url("930d7d9c5c91f8b7680c5a3caf26895f.jpg");
}

